{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    body{
        background-color:black;
    }
    input::placeholder {
        color: white;
    }
    @media (min-width: 799px) and (max-width: 801px) {
        #fk {
            display:block !important;
        }
    }
</style>

<div class="container text-center d-none d-sm-block">
    <div style="height:80px"></div>
    <h1 class="" style="color:white;">Hint Phone</h1>
    <h2 class="mb-3" style="color:white">관리자 로그인</h2>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="row pb-5" style="border: 2px solid white;border-radius:15px">
                <div class="col-1"></div>
                <div class="col-10">
                    <img class="my-3 mt-5" width="130px" src="{% static 'accounts1.png' %}">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.username }}
                        {{ form.password }}
                        <input name="method" type="text" value="pc" style="visibility:hidden">
                        <button class="form-control btn btn-default mt-0" style="border-color: white" type="submit"><span style="color:white">LOGIN</span></button>
                        <button class="form-control btn btn-default mt-2" data-target="#myModal1" data-toggle="modal" style="border-color: white" type="button"><span style="color:white">SEARCH</span></button>
                        <div class="modal" id="myModal1">
                          <div class="modal-dialog">
                            <div class="modal-content">

                              <!-- Modal Header -->
                              <div class="modal-header">
                                <h4 class="modal-title">Connect</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>

                              <!-- Modal body -->
                              <div class="modal-body">
                                  <strong>Email</strong> : bizchoollab@naver.com<br>
                                  <strong>Phone</strong> : 010-3968-3572
                              </div>

                              <!-- Modal footer -->
                              <div class="modal-footer">
                                <button type="button" class="btn" data-dismiss="modal">Close</button>
                              </div>

                            </div>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-1"></div>
            </div>

        </div>
        <div class="col-4"></div>
    </div>


    <div class="container" id="fk" style="display:none;">
        <div style="height:50px"></div>
        <h2 style="color:white">HINT PHONE(NE 신논현점)</h2>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 py-5 px-4" style="border: 2px solid white;border-radius:15px">
                <img class="my-3" width="130px" src="{% static 'accounts1.png' %}">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.password }}
                    <input name="method" type="text" value="mobile" style="visibility:hidden">
                    <button class="form-control mt-0" style="background-color:black;border-color: white" type="submit"><span style="color:white">LOGIN</span></button>
                    <button class="form-control mt-2" data-target="#myModal" data-toggle="modal" style="background-color:black;border-color: white" type="button"><span style="color:white">SEARCH</span></button>
                    <div class="modal" id="myModal">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Connect</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>

                          <!-- Modal body -->
                          <div class="modal-body">
                              <strong>Email</strong> : bizchoollab@naver.com<br>
                              <strong>Phone</strong> : 010-3968-3572
                          </div>

                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                          </div>

                        </div>
                      </div>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>


<div class="container text-center d-block d-sm-none">
    <div style="height:50px"></div>
    <h2 style="color:white">HINT PHONE</h2>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 py-5 px-4" style="border: 2px solid white;border-radius:15px">
            <img class="my-3" width="130px" src="{% static 'accounts1.png' %}">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
                <input name="method" type="text" value="mobile" style="visibility:hidden">
                <button class="form-control mt-0" style="background-color:black;border-color: white" type="submit"><span style="color:white">LOGIN</span></button>
                <button class="form-control mt-2" data-target="#myModal" data-toggle="modal" style="background-color:black;border-color: white" type="button"><span style="color:white">SEARCH</span></button>
                <div class="modal" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Connect</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                          <strong>Email</strong> : bizchoollab@naver.com<br>
                          <strong>Phone</strong> : 010-3968-3572
                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                      </div>

                    </div>
                  </div>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% endblock %}