{% extends 'base.html' %}
{% block content %}
<style>
    input::placeholder {
        color: white;
    }
</style>


<div class="container mt-5">
    <div style="height:20px"></div>
    <div class="text-center mt-5">
        <span style="color:white">{{ theme }}</span>
        <h1 style="color:white">Enter Key</h1>
        <div class="m-5">
            <div style="height:120px"></div>
            <form action="" method="get">
                {% csrf_token %}
                <input style="outline:0;color:white;border-color: black;width:100%;background-color:black;box-shadow: 0 2px 0 0 white;" name="q" value="{{ q }}" id="pw" type="password" placeholder="Enter Key를 입력해주세요">
                <button type="submit" class="form-control mt-4" style="background-color:black;border-color: white;color:white">ENTER</button>
            </form>
            <button type="button" onclick="back();" class="form-control mt-2" style="background-color:black;border-color: white;color:white">분실시 돌아가기</button>
            <h6 class="mt-3" style="color:white" id="not"></h6>
        </div>
    </div>
</div>

<script>
    var reset_code = "{{ q }}";
    var url = "{% url 'hint:QR_code' user_id theme %}";
    if (reset_code == ""){
    }else{
        if (reset_code == "{{ enterKey }}" ){
            location.href=url;
        }
        else {
            $(function(){
              $('#not').text('Enter Key가 일치하지 않습니다.');
            });
        }
    }
    function back(){
        window.history.back();
    }
    {% if okTimer %}
    localStorage.test = {{ timer }} * 60;
    localStorage.start = false;
    {% endif %}
</script>

{% endblock %}