{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    body, input {
        font-size:14pt;
        color: white;
    }
    input, label {
        vertical-align:middle
    }
    .qrcode-text {
        margin-right:0
    }
    .qrcode-text-btn {
        display:inline-block; background: url({% static 'qr.png' %}) 50% 50% no-repeat; height:10em; width:17em; cursor:pointer
    }
    #g {
        position:absolute; overflow:hidden; width:1px; height:1px; opacity:0
    }
</style>
<div style="height:50px"></div>
<div class="container text-center my-4 p-3">
    <span>{{ escape_room }}</span>
    <h2 class="m-0">{{ theme }}</h2>
    <input style="visibility:hidden;" id="text" type="url" size=16 placeholder="Tracking Code" class="qrcode-text">
    <label class="qrcode-text-btn">
        <input onclick="android();" class="camera" id="g" type=file accept="image/*" capture="camera" tabindex=-1>
    </label>
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="" method="get">
                {% csrf_token %}
                <button style="border-color:white; color:white" class="form-control btn btn-default" onclick="url();" type="submit">힌트 사용</button>
                <h3 class="mt-4 mb-2">HINT COUNT</h3>
                <h4 class="m-0">{{ count }}</h4>
                <input style="visibility:hidden;" id="input" name="q" value="{{ q }}" type="text">
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<button style="position:fixed;bottom:20px;left:20px;background-color:black;border-color:black" type="button" onclick="location.href='{% url 'hint:reset_code' user_id theme %}'">
    <img width="35px;" src="{% static  'reset1.png' %}">
</button>
<button data-target="#myModal" data-toggle="modal" style="position:fixed;bottom:20px;right:20px;background-color:black;border-color:black" type="button">
    <img width="35px;" src="{% static  'question.png' %}">
</button>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="color:black">힌트 사용 방법</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="color:black;">
          <p>힌트폰 사용방법<br>
            1. QR코드 이미지를 클릭합니다.<br>
            2. 힌트가 필요한 문제의 QR코드를<br>
              카메라 프레임에 맞게 촬영합니다.<br>
            3. 힌트사용 버튼을 클릭합니다.<br>
              <br>
              힌트폰 사용안내<br>
            1. 최대 {{ hintCount }}회까지만 사용이 가능합니다.<br>
            2. 한번 사용한 힌트는 연속 재생이 가능합니다.<br>
          </p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://dmla.github.io/jsqrcode/src/qr_packed.js"></script>
<script>

    function openQRCamera(node) {
      var reader = new FileReader();
      reader.onload = function() {
        node.value = "";
        qrcode.callback = function(res) {
          if(res instanceof Error) {
            alert("QR코드가 제대로 입력되지 않았습니다. 다시 카메라 프레임에 맞게 찍어주세요.");
          } else {
            node.parentNode.previousElementSibling.value = res;
            alert("QR코드가 입력되어 해당 힌트를 들을 수 있습니다.");
          }
        };
        qrcode.decode(reader.result);
      };
      reader.readAsDataURL(node.files[0]);
    }
    //function showQRIntro() {
      //return confirm("Use your camera to take a picture of a QR code.");
    //}
    function url(){
        var value = $('#text').val();
        document.getElementById("input").value=value;
        if (value == ""){
            alert("QR 코드를 입력하세요.");
        }else{
            location.href=value;
        }
    }
    function android(){
        window.Android.capture();
    }
    //$(function(){
    //    $('.camera').change(function(e){
    //        openQRCamera(e.target);
    //    });
    //});
    history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
    };
</script>



{% endblock %}