{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
    body, input {
        font-size:14pt;
        color: white;
    }
</style>
<div style="height:50px"></div>
<div class="container text-center my-4 p-3">
    <span>{{ escape_room }}</span>
    <h2 class="mb-4">{{ theme }}</h2>
    <button type="button" style="background-color:black;border-color:black" onclick="android()"><img src="{% static 'qr.png' %}"></button>
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="" method="get">
                {% csrf_token %}
                <button id="hint_btn" style="border-color:white; color:white" class="mt-3 form-control btn btn-default" onclick="hintUse();" type="button">힌트 사용</button>
                <h3 class="mt-4 mb-2">HINT COUNT</h3>
                <h4 class="m-0">{{ count }}</h4>
                <input id="input" name="q" value="{{ q }}" type="text">
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<button style="position:fixed;bottom:20px;left:20px;background-color:black;border-color:black" type="button" onclick="location.href='{% url 'hint:reset_code' user_id theme %}'">
    <img width="35px;" src="{% static  'reset1.png' %}">
</button>
<button data-target="#myModal" data-toggle="modal" style="position:fixed;bottom:20px;right:20px;background-color:black;border-color:black" type="button">
    <img width="35px;" src="{% static  'question.png' %}">
</button>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="color:black">힌트 사용 방법</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="color:black;">
          <p>힌트폰 사용방법<br>
            1. QR코드 버튼을 클릭합니다.<br>
            2. 힌트가 필요한 문제의 QR코드를<br>
              카메라 프레임에 맞게 스캔합니다.<br>
            3. 스캔 완료 후에 힌트사용 버튼을 클릭합니다.<br>
              <br>
              힌트폰 사용안내<br>
            1. 최대 {{ hintCount }}회까지만 사용이 가능합니다.<br>
            2. 한번 사용한 힌트는 카운팅 없이 연속 재생이 가능합니다.<br>
          </p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://dmla.github.io/jsqrcode/src/qr_packed.js"></script>
<script>
    function android(){
        window.Android.capture();
    }
    function url(url){
        var btn = document.getElementById("hint_btn");
        document.getElementById("input").value=url;
        btn.setAttribute('type', 'submit')
    }
    function hintUse(){
        url = document.getElementById("input").value;
        if (url == ""){
            swal({title:"QR코드를 스캔하세요.",
                  buttons: {
                    cancel: "OK",
                  },
            });
        }else{
            location.href=url;
            document.getElementById("hint_btn").value="";
        }
    }

    history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
    };

</script>



{% endblock %}