{% extends 'base.html' %}
{% block content %}
<style>
    body{
        background-color:green;
    }
</style>
<div class="container mt-5">
    <div class="text-center mt-5">
        <form action="" method="get">
            {% csrf_token %}
            <input name="q" value="{{ q }}" id="pw" class="form-control" type="search" placeholder="Reset Code를 입력해주세요">
        </form>
        <h3 id="not">Reset Code를 입력해주세요</h3>
    </div>
</div>

<script>
    var reset_code = "{{ q }}";
    var url = "{% url 'hint:theme_detail' roomescape.name theme %}";
    if (reset_code == ""){
        pass
    }else{
        if (reset_code == "{{ reset }}" ){
            location.href=url;
        }
        else {
            $(function(){
              $('#not').text('Reset Code가 일치하지 않습니다.');
            });
        }
    }
</script>

{% endblock %}